<md-dialog class="compose-dialog" aria-label="New Message">
    <form class="md-inline-form">
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">Reject Refund</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" tranlate
                           translate-aria-label="MAIL.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
          {{vm.testing}}
          <p>Are you Sure? This action cannot be reverted.</p>

        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="end center">
            <div layout="row" layout-align="end center">
              <md-button ng-click="vm.closeDialog()" class="send-button md-raised" aria-label="Send"
                         translate-attr-aria-label="YES">
                No
              </md-button>
              <md-button ng-click="vm.closeDialog()" class="send-button md-accent md-raised" aria-label="Send"
                           translate-attr-aria-label="YES">
                    Yes
              </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>
